In [159]:
import pandas as pd
import re

In [9]:
data = pd.read_json("Data/MITS.json")

In [13]:
data.head()

,_id,content,source,questions
0,{'$oid': '6289cc69ce019b3af0bd26b0'},applications invited for the post of asst./ass...,https://mgmits.ac.in/,[ How many applications are invited for the po...
1,{'$oid': '6289cc6dce019b3af0bd26b2'},a cultural committee of faculty and students i...,https://mgmits.ac.in/life-mits/arts-club/,"[ When is a cultural committee formed?, What ..."
2,{'$oid': '6289cc6dce019b3af0bd26b4'},mits has been maintaining a high standard in a...,https://mgmits.ac.in/life-mits/sports/,[ What has mits maintained a high standard in ...
3,{'$oid': '6289cc6dce019b3af0bd26b6'},is a platform on which students got the awaren...,https://mgmits.ac.in/life-mits/eco-club/,[ What is a platform on which students got the...
4,{'$oid': '6289cc6dce019b3af0bd26b8'},"during the educational period and later, overa...",https://mgmits.ac.in/life-mits/student-counsel...,[ What is highly significant during the educat...

In [147]:
# Create corpus file

_id = data.index # _id.map(lambda x: x.index())
title = data.source.map(lambda x: re.sub("/", "_", x))
text = data.content


corpus_file = pd.DataFrame({"_id":_id, "title": title, "text": text})
corpus_file.to_json("Data/corpus.json")
corpus_file.to_json("Data/corpus.jsonl", lines=True, orient="records")

In [145]:
corpus_file

,_id,title,text
0,0,https:__mgmits.ac.in_,applications invited for the post of asst./ass...
1,1,https:__mgmits.ac.in_life-mits_arts-club_,a cultural committee of faculty and students i...
2,2,https:__mgmits.ac.in_life-mits_sports_,mits has been maintaining a high standard in a...
3,3,https:__mgmits.ac.in_life-mits_eco-club_,is a platform on which students got the awaren...
4,4,https:__mgmits.ac.in_life-mits_student-counsel...,"during the educational period and later, overa..."
5,5,https:__mgmits.ac.in_life-mits_student-achieve...,muthoot m george foundation student awards are...
6,6,https:__mgmits.ac.in_life-mits_covid-19-activi...,as part of our societal responsibility in the ...
7,7,https:__mgmits.ac.in_research_rd-gallery_,"gyanveshan â€“ volume i, july 2019 mits is proud..."
8,8,https:__mgmits.ac.in_research_industry-institu...,is to bridge the gap between industry expectat...
9,9,https:__mgmits.ac.in_research_conferences-symp...,the 8th will be hosted by mits in december 202...
10,10,https:__mgmits.ac.in_research_faculty-and-stud...,"chikku abraham, babita roslind jose, jimson ma..."
11,11,https:__mgmits.ac.in_cidrie_,the centre will help to bring faculty and stud...
12,12,https:__mgmits.ac.in_departments_basic-science...,basic sciences and humanities are fundamental ...
13,13,https:__mgmits.ac.in_departments_mechanical-en...,the department currently offers undergraduate ...
14,14,https:__mgmits.ac.in_departments_electronics-a...,the department of electronics and communicatio...
15,15,https:__mgmits.ac.in_departments_civil-enginee...,department of civil engineering has been in ex...
16,16,https:__mgmits.ac.in_departments_electrical-an...,established as one of the major departments of...
17,17,https:__mgmits.ac.in_departments_computer-scie...,muthoot institute of technology and science (m...
18,18,https:__mgmits.ac.in_mits_management-profile_,"the muthoot group, with a reputation that has ..."
19,19,https:__mgmits.ac.in_mits_executive-body_princ...,muthoot institute of technology and science (m...

In [120]:
temp_id = data._id.map(lambda x: x["$oid"])
temp_index = data.index

temp_dict = dict(zip(temp_id, temp_index)) 
temp_dict

{'6289cc69ce019b3af0bd26b0': 0,
 '6289cc6dce019b3af0bd26b2': 1,
 '6289cc6dce019b3af0bd26b4': 2,
 '6289cc6dce019b3af0bd26b6': 3,
 '6289cc6dce019b3af0bd26b8': 4,
 '6289cc6ece019b3af0bd26ba': 5,
 '6289cc6ece019b3af0bd26bc': 6,
 '6289cc6ece019b3af0bd26be': 7,
 '6289cc6fce019b3af0bd26c0': 8,
 '6289cc6fce019b3af0bd26c2': 9,
 '6289cc6fce019b3af0bd26c5': 10,
 '6289cc6fce019b3af0bd26c7': 11,
 '6289cc70ce019b3af0bd26cb': 12,
 '6289cc71ce019b3af0bd26cd': 13,
 '6289cc71ce019b3af0bd26cf': 14,
 '6289cc71ce019b3af0bd26d2': 15,
 '6289cc71ce019b3af0bd26d4': 16,
 '6289cc71ce019b3af0bd26d6': 17,
 '6289cc74ce019b3af0bd26da': 18,
 '6289cc75ce019b3af0bd26dc': 19}

In [105]:
corpus_file.head()

,_id,title,text
0,0,https:__mgmits.ac.in_,applications invited for the post of asst./ass...
1,1,https:__mgmits.ac.in_life-mits_arts-club_,a cultural committee of faculty and students i...
2,2,https:__mgmits.ac.in_life-mits_sports_,mits has been maintaining a high standard in a...
3,3,https:__mgmits.ac.in_life-mits_eco-club_,is a platform on which students got the awaren...
4,4,https:__mgmits.ac.in_life-mits_student-counsel...,"during the educational period and later, overa..."

In [201]:
corpus_file.astype({"_id":str}).to_json("Data/new_corpus.jsonl", lines=True, orient="records")

In [101]:
corpus_file.to_json("Data/corpus.jsonl", lines=True, orient="records")

In [136]:
# Create queries
queries_file = []

def create_questoin(data):
    _id = temp_dict[data._id['$oid']]
    print(_id)
    questions = data.questions
    tmp_list = []
    for index, question in enumerate(questions):
        tmp_list.append({"_id":str(_id)+"~"+str(index), "text": question})

    return tmp_list

queries_file = data.apply(create_questoin, axis=1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [137]:
final_queries_file = sum(queries_file, [])

In [143]:
queries_df = pd.DataFrame(final_queries_file) 
# queries_df.to_json("Data/queries.json")
queries_df._id = queries_df.index

In [187]:
queries_df.info()
tmp_queries_df = queries_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     1450 non-null   int64
 1   text    1450 non-null   object
dtypes: int64(1), object(1)
memory usage: 22.8+ KB

In [144]:
queries_df.to_json("Data/queries.jsonl", lines=True, orient='records')

In [140]:
# Creating qrels file
qrels_df = []

query_id = queries_df._id.index #map(lambda x: x.split("~")[1])
doc_id = queries_df._id.map(lambda x: x.split("~")[0])
score = queries_df._id.map(lambda x: 1)

qrels_df = pd.DataFrame({"query_id": query_id, "doc_id": doc_id, "score": score})

In [171]:
qrels_df.to_csv("Data/qrels.tsv",sep="\t", index=None)

In [203]:
# qrels_df.info()
qrels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   query_id  1450 non-null   int64
 1   doc_id    1450 non-null   object
 2   score     1450 non-null   int64
dtypes: int64(2), object(1)
memory usage: 34.1+ KB

In [204]:
tmp_qrels_df = qrels_df
tmp_qrels_df.astype({"query_id":str, "doc_id":str}).to_csv("Data/new_qrels.tsv", sep="\t", index=None)

In [198]:
qrels_df

      query_id doc_id  score
0            0      0      1
1            1      0      1
2            2      0      1
3            3      0      1
4            4      0      1
...        ...    ...    ...
1445      1445     19      1
1446      1446     19      1
1447      1447     19      1
1448      1448     19      1
1449      1449     19      1

[1450 rows x 3 columns]

In [175]:
import csv

qrels = {}

reader = csv.reader(open("Data/qrels.tsv", encoding="utf-8"), delimiter="\t", quoting=csv.QUOTE_MINIMAL)
next(reader)
for id_, row in enumerate(reader):
    query_id, corpus_id, score = row[0], row[1], int(row[2])

    if query_id not in qrels:
        qrels[query_id] = {corpus_id: score}
    else:
        qrels[query_id][corpus_id] = score

In [194]:
import json

queries = {}

with open('Data/queries.jsonl', encoding='utf8') as fIn:
    for line in fIn:
        line = json.loads(line)
        queries[str(line.get("_id"))] = line.get("text")

In [184]:
queries[]

' How many applications are invited for the post of asst./assoc. professor in computer science and engineering/ mathematics?'

In [195]:
new_queries = {qid: queries[qid] for qid in qrels}

In [189]:
tmp_queries_df = tmp_queries_df.astype({"_id": str})

       _id                                               text
0        0   How many applications are invited for the pos...
1        1   What is the name of the 2nd international con...
2        2         When will technology take place in poland?
3        3   Where did mits place among 134 engineering co...
4        4    How many engineering colleges are in the state?
...    ...                                                ...
1445  1445   When was the fourth ieee international confer...
1446  1446                Where was the jan. 2012 conference?
1447  1447                                     What is iccsp?
1448  1448   What is the international conference on commu...
1449  1449                           Where is the iccsp held?

[1450 rows x 2 columns]

In [192]:
tmp_queries_df.to_json("Data/new_queries.jsonl", lines=True, orient="records")